*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
}

ul {
  list-style: none;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
